$desktop: 1024px;
$tablet: 768px;
$mobile: 480px;

//COMPUTADORA
.mq-comp{

    @media (max-width:$desktop) {
        display: flex;
    }
}
//TABLET
.mq-tablet{
    @media (max-width:$tablet){
         flex-direction: column;
    
    }
}

.mq-celular{
    @media (max-width:$mobile){
         flex-direction: column;
    }
}
//CELULAR